services:
  postgres:
    image: postgres:latest
    container_name: social_network_postgres
    restart: always
    env_file: ./.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-social_network_local}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-change_me}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:7-alpine
    container_name: social_network_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
